body {
  background-color: #dbedeb;
  font-family: Arial;
  font-size: 18px;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  width: 90%;
}

img {
  border-radius: 50%;
  height: 180px;
}

h1 , h3 {
  color: #1966c4;
}

ul {
  font-size: 18px;
}
