body {
  background-color: #dbedeb;
  font-family: Arial;
  font-size: 18px;
}

nav {
  background: #1966c4;
  height: 50px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

a:hover {
  background: blue;
  transition: .5s;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  width: 90%;
}

img {
  border-radius: 50%;
  height: 180px;
}

h1, h3 {
  color: #1966c4;
}

ul {
  font-size: 18px;
}
